if ! has nix_direnv_version || ! nix_direnv_version 3.0.5; then
  URL=https://raw.githubusercontent.com/nix-community/nix-direnv/3.0.5/direnvrc
  HASH=sha256-RuwIS+QKFj/T9M2TFXScjBsLR6V3A17YVoEW/Q6AZ1w=
  source_url "$URL" "$HASH"
fi

watch_file *.nix
watch_file */*.nix
watch_file flake.lock
watch_file requirements.txt

NIXPKGS_ALLOW_UNFREE=1 use flake . --impure --accept-flake-config
