aiohttp
ccxt
colorlog
matplotlib
numpy
pandas==2.2.0
pandas-stubs
plotly
psycopg
pyspark
pytest
python-dotenv
statsmodels
tenacity
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pydantic==2.6.1
