aiohttp
ccxt
colorlog
fastapi==0.109.2
httpx
matplotlib
numpy
pandas==2.2.0
pandas-stubs
plotly
psycopg
pydantic==2.6.1
pyspark
pytest
python-dotenv
python-multipart==0.0.9
statsmodels
tenacity
uvicorn==0.27.1
